<!-- <div class="container">

  <div class="content">
    <div class="label">
      <label>أسم المنطقة التي انت فيها</label>
    </div>
    <div class="controls">
      <div class="field">
        <div class="control">
          <input class="input is-primary is-medium" type="text" placeholder="أسم المنطقة التي انت فيها">
        </div>
      </div>
      <button class="button is-outlined is-primary is-medium">بحث</button>
    </div>
  </div>

</div> -->
<div class="container">
  <div class="grid-container">
    <div class="item-label">
      <h1>أسم المنطقة التي انت فيها</h1>
    </div>
    <div class="item-search">
      <input type="text" name="searchbar" class="arabic-font font-bold" placeholder="أدخل اسم المكان">
    </div>
    <div class="item-button">
      <button class="arabic-font font-bold">بحث حول وجهات النقل</button>
    </div>
  </div>
  <div class="section">
    <table class="table table is-bordered is-striped is-narrow is-hoverable" style="direction:rtl">
      <thead>
        <tr>
          <th>من</th>
          <th>الــى</th>
          <th>المناطق التي يمر بها</th>
          <th>التفاصيل</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Lorem Ipsum
          </td>
          <td>
            Lorem Ipsum
          </td>
          <td>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit
          </td>
          <td>
            <button class="button is-info is-outlined arabic-font"> المزيد</button>
          </td>
        </tr>
        <tr>
          <td>
            Lorem Ipsum
          </td>
          <td>
            Lorem Ipsum
          </td>
          <td>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit
          </td>
          <td>
            <button class="button is-info is-outlined arabic-font"> المزيد</button>
          </td>
        </tr>
        <tr>
          <td>
            Lorem Ipsum
          </td>
          <td>
            Lorem Ipsum
          </td>
          <td>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit
          </td>
          <td>
            <button class="button is-info is-outlined arabic-font"> المزيد</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
