<div class="container section">
  <div class="field">
    <label class="label">Name</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input" type="text" placeholder="Text input" name="name" [(ngModel)]="userData.name" #userName="ngModel"
        required minlength="6" maxlength="25">
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
      <p class="help is-danger" *ngIf="userName.errors?.required && userName.touched">Name is required</p>
      <p class="help is-danger" *ngIf="userName.errors?.minlength && userName.touched">minlength is 6 char</p>
      <p class="help is-danger" *ngIf="userName.errors?.maxlength && userName.touched">maxLength is 25 char</p>
    </div>
  </div>
  <div class="field">
    <label class="label">Email</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input" type="email" placeholder="Email input" name="email" [(ngModel)]="userData.email" #userEmail="ngModel"
        required>
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small is-right" *ngIf="userEmail.errors?.required && userEmail.touched">
        <i class="fas fa-exclamation-triangle" style="color:red"></i>
      </span>
    </div>
    <p class="help is-danger" *ngIf="userEmail.errors?.required && userEmail.touched">Email is required</p>
    <div class="field">
      <label class="label">Password</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" type="password" placeholder="Password input" name="Password" [(ngModel)]="userData.password"
          required #userPassword="ngModel" minlength="6" maxlength="12">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-times" style="color:red" *ngIf="userPassword.errors?.required && userPassword.touched"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check" style="color:green" *ngIf="!userPassword.errors?.required && userPassword.touched"></i>
        </span>
      </div>
      <p class="help is-danger" *ngIf="userPassword.errors?.required && userPassword.touched">Password is required</p>
      <p class="help is-danger" *ngIf="userPassword.errors?.minlength && userPassword.touched">minlength is 6 char</p>
      <p class="help is-danger" *ngIf="userPassword.errors?.maxlength && userPassword.touched">maxLength is 25 char</p>
    </div>
    <div class="field">
      <div class="control">
        <label class="checkbox">
          <input type="checkbox">
          I agree to the <a href="#">terms and conditions</a>
        </label>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <label class="radio">
          <input type="radio" name="question">
          Yes
        </label>
        <label class="radio">
          <input type="radio" name="question">
          No
        </label>
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link" (click)="signUpFunction()">Submit</button>
      </div>
      <div class="control">
        <button class="button is-link is-info" [routerLink]="['/login']" routerLinkActive="router-link-active">login</button>
      </div>
      <div class="control">
        <button class="button is-text">Cancel</button>
      </div>
    </div>
  </div>
