<div class="section">
  <div class="buttons-Selection">
    <button class="active"> النقل العام</button>
    <button> النقل الخاص</button>
  </div>
  <table class="table table is-bordered is-striped is-narrow is-hoverable" style="direction:rtl">
    <thead>
      <tr>
        <th>من</th>
        <th>الــى</th>
        <th>المناطق التي يمر بها</th>
        <th>التفاصيل</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Lorem Ipsum
        </td>
        <td>
          Lorem Ipsum
        </td>
        <td>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit
        </td>
        <td>
          <button> المزيد</button>
        </td>
      </tr>
      <tr>
        <td>
          Lorem Ipsum
        </td>
        <td>
          Lorem Ipsum
        </td>
        <td>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit
        </td>
        <td>
          <button> المزيد</button>
        </td>
      </tr>
      <tr>
        <td>
          Lorem Ipsum
        </td>
        <td>
          Lorem Ipsum
        </td>
        <td>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit
        </td>
        <td>
          <button> المزيد</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
